header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

header>h1 {
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 0.5em;
  font-size: 40px;
  font-weight: 200;
}

#Search {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 3px;
  height: 20px;
  width: 400px;
  background-color: #ffffff;
}

input:-ms-input-placeholder {
  color: #a8a8a8;
}

input::-webkit-input-placeholder {
  color: #a8a8a8;
}

input::-moz-placeholder {
  color: #a8a8a8;
}

#sur {
  font-size: 16px;
  width: 400px;
  padding: 13px;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 50px;
  float: left;
}

#btn {
  position: relative;
  right: 40px;
  top: 5px;
  width: 20px;
  height: 18px;
  border: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  float: right;
}

#icon>ul {
  list-style: none;
  display: flex;
}

#icon>ul>li {
  padding: 7px;
}

#icon>ul>li:hover {
  background-color: white;
}