nav {
  background-color: rgb(33, 33, 33);
}

nav>ul {
  list-style: none;
  display: flex;
}

.Menu_center {
  padding: 0;
  margin: 0;
}

nav>ul>li {
  background-color: rgb(33, 33, 33);
  width: 120px;
  height: 50px;
}

.Menu {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 12px;

}

li:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}

a:hover {
  padding-bottom: 13px;
  border-bottom: 4px solid yellowgreen;
}